@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Inter", sans-serif;

  --color-primary-50: #f1f5f1;
  --color-primary-100: #e3ede3;
  --color-primary-200: #c6dbc3;
  --color-primary-300: #a1c39c;
  --color-primary-400: #85aa7e;
  --color-primary-500: #7ea465;
  --color-primary-600: #5a714f;
  --color-primary-700: #4a5d41;
  --color-primary-800: #3c4a34;
  --color-primary-900: #2f3928;
  --color-primary-950: #1b2117;

  --color-secondary-500: #9f815b;
  --color-info-500: #50968a;
  --color-error-500: #c27271;

  --color-brand-light: #ffeaa166;

  --color-dark: #242424;
  --color-brand-dark: #1f1f1f;
  --color-brand-dark-main: #181818;
}

:root {
  --ui-font-sans: var(--font-sans);

  --ui-primary: var(--color-primary-500);
  --ui-secondary: var(--color-secondary-500);
  --ui-success: var(--color-primary-500);
  --ui-info: #457f67;
  --ui-warning: #facc15;
  --ui-error: var(--color-error-500);

  --ui-background: var(--color-brand-light);
  --ui-bg: white;

  /* Safe Area variables */
  --safe-area-inset-top: env(safe-area-inset-top, 0px);
  --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-inset-left: env(safe-area-inset-left, 0px);
  --safe-area-inset-right: env(safe-area-inset-right, 0px);

  /* Telegram-specific variables */
  /*--tg-viewport-content-safe-area-inset-top: var(--safe-area-inset-top);*/
  /*--tg-viewport-content-safe-area-inset-bottom: var(--safe-area-inset-bottom);*/
  /*--tg-viewport-content-safe-area-inset-left: var(--safe-area-inset-left);*/
  /*--tg-viewport-content-safe-area-inset-right: var(--safe-area-inset-right);*/
}

.dark {
  --ui-background: var(--color-brand-dark-main);
  --ui-bg: var(--color-brand-dark-main);
}
